@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#card-products{
    width: 19.5rem;
    height: 26.125rem;
    padding: 0.9375rem;
    border-radius: 1rem;
}
#card-products img{
    width:17.5rem;
    height:13.125rem;
    object-fit: cover;
}
#card-products-title{
    margin-top: 0.75rem;
    width:17.5rem;
    height:1.5rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#card-products-description{
    margin-top: 0.5rem;
    width:17.5rem;
    height:2rem;
    font-size: 0.75rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
#card-products-price_ranking{
    margin-top: 0.75rem;
    width:17.5rem;
    height:1.5rem;
}
#card-products-price-ranking h3 {
    font-family: 'Urbanist', sans-serif;
}
#card-products-price-ranking #price {
    width: 9.75rem;
    font-size:1.25rem;
}
#card-products-price-ranking #ranking {
    font-size:0.75rem;
}

.card .blod{
    font-size: 0;
}

.card:hover .blod{
    font-size: var(--vsm-fs);
}