.App {
  font-family: var(--body-font);
  font-size: var(--sm-font-size) !important;
  color: var(--second-color);
}
/* DEFINITION COLORS APP  */
.text-first-color {
  color: var(--first-color);
}
.text-second-color {
  color: var(--second-color);
}
.bg-first-color {
  background-color: var(--first-color);
}
.bg-second-color {
  background-color: var(--second-color);
}
.border-first-color {
  border: .01rem solid;
  background-color: var(--second-color);
  border-color: var(--second-color);
  opacity: .5;
}
.border-second-color {
  border: .1rem solid;
  background-color: var(--second-color);
  border-color: var(--second-color);
  opacity: .75;
}
/* DEFINITION FONT SIZE */
.xxl-fs {
  font-size: var(--xxl-font-size) !important;
}
.xl-fs {
  font-size: var(--xl-font-size) !important;
}
.lg-fs {
  font-size: var(--lg-font-size) !important;
}
.md-fs {
  font-size: var(--md-font-size) !important;
}
.sm-fs {
  font-size: var(--sm-font-size) !important;
}
.vsm-fs {
  font-size: var(--vsm-font-size) !important;
}
/* HEADER DE MENUS */
.azt33{
  background: linear-gradient(rgb(72,0,72,0.7), rgb(192,72,72,0.7)), url("https://img.freepik.com/free-vector/hand-drawn-picnic-food-pattern_23-2147555658.jpg?w=826&t=st=1666213345~exp=1666213945~hmac=2cf5addebdfc1ed49ad54a97d53d73a2a150b5e1742b057115f13fa25a420101");
  background-size: cover;
  z-index: 1;
}
.azt34{
  font-size: var(--lg-font-size) !important;
  letter-spacing: .5rem;
  color: whitesmoke;
}
 /* for desktop */
 .youtube_float {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom:160px;
  right: 50px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  z-index: 100;
}
.youtube-icon{
  padding-left:6px;
  padding-right:6px;
  border-radius: 40px;
  background-color: #c4302b;
  box-shadow: 3px 2px 3px #999;
}

 /* for desktop */
 .whatsapp_float {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom:80px;
  right: 50px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  z-index: 100;
}
.whatsapp-icon{
  padding-left:6px;
  padding-right:6px;
  border-radius: 40px;
  background-color: #25d366;
  box-shadow: 3px 2px 3px #999;
}

#footer-contact_form-submit{
  border-radius:4.5rem;
  padding:.5rem;
  margin:0;
}
#footer-contact_form-submit:hover{
  color:whitesmoke;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .azt-1{
    display: none;
  } 
}
@media only screen and (max-width: 575px) {
  :root{
    --normal-font-size: calc(10% + 1vw + 1vh);
  }
  .azt{
    display: none;
  }  
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  
}
/* for mobile */
@media screen and (max-width: 767px) {

  .whatsapp_float {
      width: 25px;
      height: 32px;
      bottom: 40px;
      right: 20px;
      font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  
}