/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 18;
  --first-color: hsl(var(--hue-color), 50%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --xxl-font-size: 2.7rem;
  --xl-font-size: 1.72rem;
  --lg-font-size: 1.2rem;
  --md-font-size: 0.91rem;
  --sm-font-size: 0.75rem;
  --vsm-font-size: 0.55rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box !important;
}
html {
  scroll-behavior: smooth !important;
  font-size: 16px;
}
body {
  background-color: #CC8566;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23CC8566' cx='50' cy='0' r='50'/%3E%3Cg fill='%23c78062' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c17c5e' cx='50' cy='100' r='50'/%3E%3Cg fill='%23bc785a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b77356' cx='50' cy='200' r='50'/%3E%3Cg fill='%23b26f52' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ac6a4e' cx='50' cy='300' r='50'/%3E%3Cg fill='%23a7664a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a26246' cx='50' cy='400' r='50'/%3E%3Cg fill='%239d5d42' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2398593e' cx='50' cy='500' r='50'/%3E%3Cg fill='%2393553b' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%238e5137' cx='50' cy='600' r='50'/%3E%3Cg fill='%23894c33' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2384482f' cx='50' cy='700' r='50'/%3E%3Cg fill='%237f442c' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%237a4028' cx='50' cy='800' r='50'/%3E%3Cg fill='%23753c25' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23703821' cx='50' cy='900' r='50'/%3E%3Cg fill='%236b341d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2366301A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  background-attachment: fixed;
  
  font-family: var(--body-font);
  font-size: var(--sm-font-size) !important;
  color: var(--second-color);
}